# clang LTO
CONFIG_LTO_CLANG_THIN_DIST=y
CONFIG_LTO=y
CONFIG_HAS_LTO_CLANG=y
CONFIG_LTO_CLANG=y

CONFIG_X86_NATIVE_CPU=y

# Needed for BPF Sched-ext
CONFIG_FTRACE=y

# Enable BORE and CACHY tweaks
CONFIG_SCHED_BORE=y
CONFIG_SCHED_CLASS_EXT=y
CONFIG_CACHY=y

# Switch Huge Pages to always
CONFIG_TRANSPARENT_HUGEPAGE_ALWAYS=y

# Set 1000Hz
CONFIG_HZ=1000
CONFIG_HZ_1000=y

# Gentoo
CONFIG_GENTOO_LINUX_INIT_SYSTEMD=y

# FS
CONFIG_EXT4_FS=y
CONFIG_BTRFS_FS=y
CONFIG_FAT_FS=y
CONFIG_VFAT_FS=y
#
# Openrgb
CONFIG_I2C_CHARDEV=y
CONFIG_I2C_SMBUS=y
CONFIG_I2C_PIIX4=y
#
# ZRAM
CONFIG_ZBUD=y
CONFIG_ZSMALLOC=y
#
# Hardware acceleration for btrfs checksums
CONFIG_CRYPTO_CRC32C=y
CONFIG_CRYPTO_CRC32C_INTEL=y
#
# Kernel compression
CONFIG_KERNEL_LZ4=y
CONFIG_MODULE_COMPRESS=n
CONFIG_MODULE_COMPRESS_ALL=n
# CONFIG_MODULE_COMPRESS_ZSTD is not set
#
# Enable PSI per default
CONFIG_PSI_DEFAULT_DISABLED=n
#
# Enable MGEN LRU
CONFIG_LRU_GEN=y
CONFIG_LRU_GEN_ENABLED=y
#
#
# AHCI
CONFIG_SATA_AHCI=y
# AMD (ryzen) CPU
CONFIG_AMD_IOMMU=y
# Include AMDGPU
CONFIG_DRM_AMDGPU=m
# CONFIG_DRM_RADEON is not set
# CONFIG_FB_RADEON is not set
# CONFIG_FB_ATY128 is not set
# CONFIG_FB_ATY is not set
# NFS
CONFIG_NFS_V4=y
# Mellanox
CONFIG_MLX4_CORE=y
CONFIG_NET_VENDOR_MELLANOX=y
CONFIG_MLX4_CORE_GEN2=y
# NVME
CONFIG_NVME_CORE=y
CONFIG_BLK_DEV_NVME=y

# Cleanup
CONFIG_BATMAN_ADV=n
CONFIG_MAC80211_MESH=n
